.demoToggle {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 90px;
  left: 0;
  background: rgba(0,0,0,0.79);
  color: #f5f5f5;
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
}
.demoConfig {
  width: 220px;
  position: fixed;
  height: 120px;
  background: rgba(0,0,0,0.79);
  color: #fff;
  top: 90px;
  left: -220px;
  padding: 20px;
  box-shadow: 0 0 10px #000;
  overflow: hidden;
}
.demoConfig,
.demoToggle {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 999;
}
.demoConfig.active,
.demoToggle.active {
  -webkit-transform: translate(220px, 0);
  -moz-transform: translate(220px, 0);
  -o-transform: translate(220px, 0);
  -ms-transform: translate(220px, 0);
  transform: translate(220px, 0);
}
.btn-dark {
  background: rgba(0,0,0,0.34);
  color: #fff;
  border: none;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
}
.btn-dark:hover {
  background: rgba(0,0,0,0.84);
  color: #fff;
  border: none;
  box-shadow: 0 0 2px #000;
}

.three-cogs:hover{
  animation-duration: 4s;
}

.three-cogs > .fa:nth-child(1) {

  margin-left: -10px;
}
.three-cogs > .fa:nth-child(1) {
  margin-left: -10px;
}
.three-cogs > .fa:nth-child(2),
.three-cogs > .fa:nth-child(3) {
  position: absolute;
  right: 0;
  animation-direction: reverse;
  animation-duration: 2s;
      font-size: 20px;
}
.three-cogs > .fa:nth-child(3) {
  top: auto;
  bottom: 0;
}
