body
  color: whitesmoke
  background: #333333

.card
  background: #292929

.bg-dark,
.page-link
  background-color: #272727!important
  border: 1px  #272727!important
  color: whitesmoke

.page-link:hover
  background-color: #292929!important
  border: 1px  #292929!important
  color: white

.btn-primary,
.category,
.months,
.tags
  background-color: #464b50
  border-color: #343a40

.btn-primary:hover,
.category:hover,
.months:hover,
.tags:hover
  background-color: #41454a
  border-color: #343a40

.form-control,
.form-control:active,
.form-control:focus
  background-color: #333
  border: 1px solid #1d2124

.img-thumbnail
  background-color: #272727
  border: 1px solid #222

