{%- macro css(s) -%}
<link rel="stylesheet" href="/css/{{s}}.min.css">
{%- endmacro -%}

{%- macro cssT(s) -%}
<link rel="stylesheet" href="{{s}}.min.css">
{%- endmacro -%}

{%- macro cssShared(s) -%}
<link rel="stylesheet" href="/app/css/{{s}}.min.css">
{%- endmacro -%}

{%- macro js(s) -%}
<script src="/js/{{s}}.min.js"></script>
{%- endmacro -%}

{%- macro jsShared(s) -%}
<script src="/app/js/{{s}}.min.js"></script>
{%- endmacro -%}

{%- macro jsT(s) -%}
<script src="{{s}}.js"></script>
{%- endmacro -%}

{%- macro favicon(i) -%}
<link rel="shortcut icon" href="{{i}}">
{%- endmacro -%}

{%- macro lnk(item) -%}
  <li><a href="{{item}}">{{item|capitalize}}</a></li>
{%- endmacro -%}

{%- macro preJSON() -%}
<pre><code id="out" class="hidden json"></code></pre>
{%- endmacro -%}

{%- macro toTop() -%}
  <span id="toTop" class="fa fa-chevron-up"></span>
{%- endmacro -%}


{%- macro menuHead(i) -%}
<a class="menuHead blink">{{i}}<i class="icon-right-open"></i></a>
{%- endmacro -%}
{%- macro menuItem(x,y,admin) -%}
<li class="menu-item">
  {{menuHead(i=x)}}
  <ul class="sub-menu">
    {% for item in y %}
      <li class="menu-item"><a class="blink" href="/{{x|lower}}/{{item|camelCase}}">{{item|capitalize}}</a></li>
    {% endfor %}
  </ul>
</li>
{%- endmacro -%}

{%- macro colBtn(a,i,e) -%}
  <div class="col-md-{{a}}"><button type="button" id="{{i}}" class="btn btn-primary btn-block mb10 shrink">{{e}}</button></div>
{%- endmacro -%}

{%- macro tplMenu() -%}
<div id="tplMenu">
  <h3>Templates<span class="closeTpl">Close</span></h3>
  <div class="tplList">
  </div>
</div>
{%- endmacro -%}

{%- macro mainFrame(i) -%}
<div class="w90">
  <h1>{{title|capitalize}}</h1>
  <div class="btn-group mb20 sortBy" role="group"></div>
  <div class="row {{i}}"></div>
</div>
{%- endmacro -%}
