<div class="globeInfoDiv blink"></div>
<div class="consoleDiv">
  <span class="consoleWarning blink">Here there be dragons!</span>
  <pre class="">{"did":"console.log('hello')"}; console.log('hello')</pre>
  <div class="row">
    <div class="col-md6">
      <input type="text" class="consoleInput blink" placeholder="Start typing...">
    </div>
    <div class="col-md-6">
      <button type="button" class="btn consoleBtn blink">start</button>
    </div>
  </div>
</div>
<div class="socketDiv"><pre class="">{"did":"console.log('hello')"}; console.log('hello')</pre></div>

<div class="bottomNav">
  <div class="bottonNavRight">
    <div class="miniBtnDiv"></div>
    <div class="globeDiv"></div>
  </div>
</div>
