<header class="header">
  <a class="menu-btn menu-link" id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class="right">
    <span class="outText blink"></span>
    <div class="lnkBlock">
      <a class="fa fa-2x fa-sign-out shrink blink outLink" href="{{config.app.preview}}" target="_blank"></a>
      <a class="fa fa-2x fa-mobile shrink blink mobileLink" href="{{config.app.mobile}}" target="_blank"></a>
    </div>
  </div>
</header>
