<nav id="menu">
  <ul class="mobile-nav" id="mobile">
    {{macro.menuItem(x="Site",y=config.nav.site)}}
    {{macro.menuItem(x="Posts",y=config.nav.posts)}}
    {{macro.menuItem(x="gallery",y=config.nav.gallery)}}
    {{macro.menuItem(x="social",y=config.nav.social)}}
    {{macro.menuItem(x="Admin",y=config.nav.settings)}}

  </ul>
  <div class="menuBottom">
    <i class="fa fa-github"></i>
    <i class="fa fa-github"></i>
    <i class="fa fa-github"></i>
  </div>
</nav>
