<h3>Preview<button type="button" id="previewBtn" class="settingsBtn">settings</button></h3>
<div id="previewDiv"></div>
<div id="previewMenu">
  <div class="row"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>HTML</label><label class="tpl-label">Template: <span class="tpl-selected">None</span><span class="tpl-delete shrink">Delete</span></label>
    <textarea id="MD"></textarea>
    <div id="ctrl" class="row"></div>
  </div>
</div>
